@media (max-width: 1100px) {
  
}

@media (max-width: 875px) {
  
}

@media (max-width: 830px) {
  
}

@media (max-width: 650px) {
  
}

@media (max-width: 540px) {
  
}

@media (max-width: 440px) {

}

@media (max-width: 375px) {

}
